html,
body {
	font-size: 17px;
	height: 100%;
	margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  	background: #F1F1F1;
  	margin: 0px;
  	padding: 0px;
  	color: #555555;
  	text-rendering: optimizeLegibility;
  	min-width: 320px;
}

a:link {
    color: #555555;
}

img {
	margin: auto;
}

h1, h3 {
  font-weight: bold;
}

.container {
	margin: 15px auto 40px auto;
	width: 600px;
	text-align: center;
}

.wip {
	display: inline-block;
	margin-top: 10px;
}
.wip-display {
	max-width: 80%;
	height: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.wip-display {
		max-width: 30%;
	}
}

.small {
  line-height: 30%;
}

.big {
  line-height: normal;
}
