html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #F1F1F1;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

img {
	margin: auto;
	max-width: 100%;
	height: auto;
}

.container {
	margin: 40px auto 40px auto;
	width: 600px;
	text-align: center;
}