@import "variables";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: $spacer-small;
    padding-right: $spacer-small;
    padding-top: $spacer-medium;

    background-color: $color-black;
    color: $color-white;
}

.page-container {
    width: 100%;
    max-width: $max-width-column;
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-top: $spacer-extra-small;
    margin-bottom: $spacer-small;
    text-align: center;
}

a {
    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $color-white;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $spacer-medium;

    *:last-child {
        margin-bottom: 0;
    }

    ul {
        padding-left: 0;
        margin: 0;
        list-style: none;

        .left,
        .separator,
        .right {
            display: inline-flex;
        }

        .left {
            justify-content: flex-end;
            width: 30%;
        }

        .separator {
            justify-content: center;
            width: 10%;
        }

        .right {
            justify-content: flex-start;
            width: 60%;
        }
    }

    .sub-section {
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.section-about,
.section-contacts {
    ul {
        text-align: center;
    }
}

.iframe-hidden {
    display: none;
    visibility: hidden;
}
