@font-face {
    font-family: "Optician-Sans";
    src: url("../fonts/optician-sans.eot");
    src:
        url("../fonts/optician-sans.ttf") format("truetype"),
        url("../fonts/optician-sans.ttf") format("woff");
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
